<nav>
    <div class="site-title">
        <a href="#">
            <h1>Blog Nodejs</h1>
        </a>
        <p>A Nodejs Blog</p>
    </div>
    <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
    <a href="#">Home Page</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/about">About Page</a>
</nav>