<!DOCTYPE html>

<html>

<%- include('./partials/header.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>About Page</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis illo ducimus iste temporibus eos itaque repellendus quasi! Doloremque quas commodi excepturi deleniti? Repellendus laborum a voluptas perferendis ex delectus consectetur.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis illo ducimus iste temporibus eos itaque repellendus quasi! Doloremque quas commodi excepturi deleniti? Repellendus laborum a voluptas perferendis ex delectus consectetur.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis illo ducimus iste temporibus eos itaque repellendus quasi! Doloremque quas commodi excepturi deleniti? Repellendus laborum a voluptas perferendis ex delectus consectetur.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis illo ducimus iste temporibus eos itaque repellendus quasi! Doloremque quas commodi excepturi deleniti? Repellendus laborum a voluptas perferendis ex delectus consectetur.</p>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

</html>